<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CslaAuthentication" value="Csla" />
		<add key="CslaAutoCloneOnUpdate" value="True" />
		<add key="CslaDefaultTransactionIsolationLevel" value="ReadCommitted" />
   
    <add key="CommonConnectionString" value ="MultipleActiveResultSets=True;Application Name=Sybiz Vision;Connect Timeout=60;Persist Security Info=False;Integrated Security=SSPI;database=VisionCommon;server=DEV-MARJON\SQL2016;"/>
	  <add key="CompanyConnectionString" value ="MultipleActiveResultSets=True;Application Name=Sybiz Vision;Connect Timeout=60;Persist Security Info=False;Integrated Security=SSPI;database=Vision_UTC;server=DEV-MARJON\SQL2017;"/>
	  <add key="UserName" value ="Administrator"/>
    <add key="Password" value="admin"/>
	</appSettings>
</configuration>